# Ignore the root helpers
command_opts.py
git_helper.py

# Ignore my little stats side-project
stats/

# Ignore VS Code stuff
**/.vscode/
*.resx

# Python pre-compiled things
**/__pycache__/
*.py[cod]
*$py.class
**/pythonenv*/

# Visual Studio folders
**/.vs/
**/bin/
**/obj/

# Temp files
*~
**/.DS_Store/
